* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 300;
  color: #696f7b;
  /* color: rgba(51, 51, 51, 0.302); */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.85) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.85) 100%
  );
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85) 0%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.85) 100%
    ),
    rgb(99, 99, 99);
  background-blend-mode: multiply;
}
ol,
ul,
li {
  list-style: none;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.flex {
  display: flex;
}
.rating {
  color: #ef5959;
}
