@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
/* font-family: 'Inter', sans-serif; */

* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Inter', sans-serif;
	background: rgb(209, 209, 209);
/* 	background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.85) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.85) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.85) 100%
  ); */
}
ol, ul, li {
	list-style: none;
}
/* .container {
	width: 1280px;
} */

.pr {
	position: relative;
}
.pa {
	position: absolute;
}
.pf {
	position: fixed;
}
.flex {
	display: flex;
}
.rating {
	color: #EF5959;
	/* color: #fd6b6b; */
}