.movies {
	display: grid;
	grid-template-columns: repeat(5, minmax(20% , 1fr));
	grid-template-rows: repeat(4, minmax(25%,1fr));
	grid-template-rows: 1.05fr 1fr 1fr 1fr;
	grid-gap: 0;
	max-width: 1200px;
	margin: auto;
}