.movie {
	position: relative;	
	top: -85%;
	z-index: 100;
	justify-self: center;
}
.movie .movie_card {
	width: 180px;
	margin-bottom: 70px;
	font-weight: 300;
	color: #adaeb9;
	box-shadow: 0 13px 27px -5px rgba(50, 50, 90, .25), 0 8px 16px -8px rgba(0, 0, 0, .3);
   }

.movie .movie_card a {
	text-decoration: none;
	color: inherit;
	
}
.movie .movie_card a img {
	width: 100%;
}
.movie .movie_label {
	width: 100%;
	bottom: -10px;
	background: rgba(35, 35, 35, 1);
	/* background-blend-mode: multiply; */
	padding: 10px 15px;
}
.movie .movie_label span {
	display: inline-block;
}
.movie .movie_label .movie_title {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 1rem;
}
.movie .movie_label .movie_info {
	justify-content: space-between;
}